// Author:	Harbor Young
// Email:	yhb241@163.com

// ---------------- container attributes ----------------
// display
@mixin flex-display(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
// flex-direction
@mixin flex-direction($value){	// row | column | row-reverse | column-reverse
	// for old syntax horizontal | vertical | inline-axis | block-axis | inherit
	@if $value == row{
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
	}@else if $value == column{
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
	}
	// for IE10  row | column | row-reverse | column-reverse | inherit
	-ms-flex-direction: $value;
	// for new syntax
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	flex-direction: $value;
}
@mixin box-orient($value){		// horizontal | vertical
	-webkit-box-orient: $value;
	-moz-box-orient: $value;
	box-orient: $value;
}
// flex-wrap
@mixin flex-wrap($value){		// wrap | nowrap | wrap-reverse
	// old syntax is not supported
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap{
		-ms-flex-wrap: none;	// IE10
	}@else{
		-ms-flex-wrap: $value;
	}
}
// justify-content
@mixin justify-content($value){	// flex-start | flex-end | center | space-between | space-around
	// for old syntax start | end | center | justify
	@if $value == flex-start{
		-webkit-box-pack: start;
		-moz-box-pack: start;
	}@else if $value == flex-end{
		-webkit-box-pack: end;
		-moz-box-pack: end;
	}@else if $value == center{
		-webkit-box-pack: center;
		-moz-box-pack: center;
	}@else if $value == space-between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
	}
	// for IE10 start | end | center | justify
	@if $value == flex-start{
		-ms-flex-pack: start;
	}@else if $value == flex-end{
		-ms-flex-pack: end;
	}@else if $value == center{
		-ms-flex-pack: center;
	}@else if $value == space-between{
		-ms-flex-pack: justify;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	-ms-justify-content: $value;// IE11+
	justify-content: $value;
}
// align-content
@mixin align-content($value){	//flex-start | flex-end | center | space-between | space-around | stretch
	// old syntax is not supported
	// for IE10 start | end | center | justify | distribute | stretch
	@if $value == flex-start{
		-ms-flex-line-pack: start;
	}@else if $value == flex-end{
		-ms-flex-line-pack: end;
	}@else if $value == center{
		-ms-flex-line-pack: center;
	}@else if $value == space-between{
		-ms-flex-line-pack: justify;
	}@else if $value == space-around{
		-ms-flex-line-pack: distribute;
	}@else if $value == stretch{
		-ms-flex-line-pack: stretch;
	}
	-webkit-align-content: $value;
	-moz-align-content: $value;
	-ms-align-content: $value;	// IE11+
	align-content: $value;
}
// align-items
@mixin align-items($value){		// flex-start | flex-end | center | baseline | stretch
	// for old syntax start | end | center | baseline | stretch
	@if $value == flex-start{
		-webkit-box-align: start;
		-moz-box-align: start;
	}@else if $value == flex-end{
		-webkit-box-align: end;
		-moz-box-align: end;
	}@else if $value == center{
		-webkit-box-align: center;
		-moz-box-align: center;
	}@else if $value == stretch{
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
	}
	// for IE10 start | end | center | baseline | stretch
	@if $value == flex-start{
		-ms-flex-align: start;
	}@else if $value == flex-end{
		-ms-flex-align: end;
	}@else if $value == center{
		-ms-flex-align: center;
	}@else if $value == stretch{
		-ms-flex-align: stretch;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	-ms-align-items: $value;	// IE11+
	align-items: $value;
}

// ---------------- item attributes ----------------
// order
@mixin order($value){
	// for old syntax (positive integer)
	-webkit-box-ordinal-group: $value;
	-moz-box-ordinal-group: $value;
	// for IE10 (zero or positive integer)
	-ms-flex-order: $value;
	// for new syntax (all integer)
	-webkit-order: $value;
	-moz-order: $value;
	-ms-order: $value;	// IE11+
	order: $value;
}
// align-self
@mixin align-self($value){		// flex-start | flex-end | center | stretch
	// old syntax is not supported
	// for IE10 auto | start | end | center | baseline | stretch
	@if $value == flex-start{
		-ms-flex-item-align: start;
	}@else if $value == flex-end{
		-ms-flex-item-align: end;
	}@else if $value == center{
		-ms-flex-item-align: center;
	}@else if $value == stretch{
		-ms-flex-item-align: stretch;
	}
	-webkit-align-self: $value;
	-moz-align-self: $value;
	-ms-align-self: $value;	// IE11+
	align-self: $value;
}
// flex
@mixin flex($value){		// [positive-flex] [negative-flex] [preferred-size]
	// old syntax [positive-flex]
	-webkit-box-flex: $value;
	-moz-box-flex: $value;
	// for IE10 [positive-flex] [negative-flex] [preferred-size]
	-ms-flex: $value;
	// for new syntax [positive-flex] [negative-flex] [preferred-size]
	-webkit-flex: $value;
	-moz-flex: $value;
	flex: $value;
}